In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('../data/transit_stops_datasd.csv')
df.head()

,objectid,stop_uid,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_agncy,wheelchair,intersec,stop_place,parent_sta,lat,lng
0,1,MTS_10001,10001.0,10001.0,Cabrillo National Monument,32.674458,-117.240426,MTS,1.0,M-Special_Loc,cabmon,NaN,32.674453,-117.240414
1,2,MTS_10003,10003.0,10003.0,Pearl St & Draper Av,32.839578,-117.276187,MTS,1.0,N-E/B,NaN,NaN,32.839574,-117.276175
2,3,MTS_10004,10004.0,10004.0,Pearl St & Fay Av,32.840128,-117.273810,MTS,1.0,N-E/B,NaN,NaN,32.840124,-117.273798
3,4,MTS_10006,10006.0,10006.0,Torrey Pines Rd & Exchange Pl,32.845847,-117.268673,MTS,1.0,N-N/B,NaN,NaN,32.845842,-117.268661
4,5,MTS_10007,10007.0,10007.0,Torrey Pines Rd & Princess St,32.848826,-117.262585,MTS,0.0,N-E/B,NaN,NaN,32.848821,-117.262574

In [3]:
usecols = ['stop_id', 'stop_name', 'stop_lon', 'stop_lat']
df = df[usecols]
df.to_json('../data/bus_stops.json', orient='records')